.label {
  color: rgb(255, 255, 255);
  display: block;
  margin-bottom: 5px;
  font-weight: 550;
}

.input{
  height: 38px;
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 15px;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
}

.alerta-error {
  background-color: white;
  color: red;
  padding: 1rem;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Staatliches', cursive;
}