.cita {
  padding: 20px;
  background: white;
  border-bottom: 1px solid #e1e1e1;
  color: black;
  margin-bottom: 20px;
}

.cita p {
  font-weight: bold;
  margin: 0;
  margin-bottom: 8px;
  font-family: sans-serif;
  font-size: 15px;
  line-height: 1.6;
}

.cita p span {
  font-weight: normal;

}

.cita:first-of-type {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.cita:last-of-type {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}